.container {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.red {
  background: rgb(254, 56, 56);
}

.circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.opacity1 {
  background: #ffffff;
  opacity: 0.3;
}

.opacity2 {
  background: rgb(80, 12, 12);
  opacity: 0.3;
}

.alpha1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: rgba(255, 200, 100, .4);
}

.alpha2 {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-10%);
  background: rgba(200, 255, 100, .4);
}

.alpha3 {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-90%);
  background: rgba(0, 255, 225, .4);
}